<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer"
        style=" padding: 12px;
        background-color: rgba(0, 0, 0, 0.05);
        text-align: center;
        font-size: 12px"
>
    <div class="footer">
        © 2021 Copyright:
        <a style="text-decoration: none;" href="https://www.facebook.com/duonghoaian1999">
            <i class="fab fa-facebook-square"></i>
            Dương Hoài An</a>
    </div>
</footer>


</body>

<style>
    .footer {

    }

    .author {

    }
</style>
</html>