<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="currentPage='admin/manager/filmCalendar'"
      layout:decorate="~{layout/admin.html}"
>

<head>
    <meta charset="UTF-8">
    <title>Lịch chiếu phim</title>
</head>

<body>
<section layout:fragment="custom-content">
    <div class="content-right__control">
        <button class="btn btn-add btn-add-show-modal">
            Thêm
        </button>
    </div>
    <table th:if="${#arrays.length(listFilmCalendar)}!= 0">
        <thead>
        <tr>
            <th>Số thứ tự</th>
            <th>Tên phim</th>
            <th>Ngày phát hành</th>
            <th>Thời lượng( phút)</th>
            <th>Giá vé( VNĐ)</th>
            <th>Ngày chiếu</th>
            <th>Giờ chiếu</th>
            <th>Phòng chiếu</th>
            <th>Số chỗ ngồi</th>
            <th>Hành động</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="element,iterStat  :${listFilmCalendar}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${element.film.name}"></td>
            <td th:text="${element.film.openDay}"></td>
            <td th:text="${element.film.time}"></td>
            <td th:text="${element.film.price}"></td>
            <td th:text="${element.dateCalendar}"></td>
            <td th:text="${element.timeCalendar.getS}"></td>
            <td th:text="${element.room.name}"></td>
            <td th:text="${element.room.slot}"></td>
            <td>
                <a class="btn btn-edit btn-edit-film-calendar" th:href="@{/admin/manager/getFilmCalendarById/(id=${element.id}) }">Sửa</a>
                <!--<a  th:href="@{/admin/manager/delete/{id}(id=${element.id}) }">delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal modal-add">
        <form th:action="@{/admin/manager/saveFilmCalendar}" method="POST">
            <div class="modal__container">
                <div class="modal__close">
                    <i class="fas fa-times"></i>
                </div>
                <div class="modal__header">
                    <div class="modal__header-title">
                        Thêm lịch chiếu
                    </div>
                </div>
                <div class="modal__body">
                    <div class="wrap-input-item">
                        <label for="id-film" class="modal-label">
                            Tên phim
                        </label>
                        <select class="modal-input" id="id-film" name="idFilm">
                            <option th:each="i : ${listFilm}" th:value="${i.id}"
                                    th:text="${i.name} + '( Ngày ra mắt chính thức: ' +${i.openDay} +  ')'"
                                    th:selected="${i.name=='Nguời nhện không còn nhà'}"></option>
                        </select>
                    </div>
                    <div class="wrap-input">
                        <div class="wrap-input-item">
                            <label for="date-calendar" class="modal-label">
                                Ngày chiếu
                            </label>
                            <input required type="date" id="date-calendar" class="modal-input" name="dateCalendar">
                        </div>
                    </div>
                    <div class="wrap-input">
                        <div class="wrap-input-item">
                            <label for="time-calendar" class="modal-label">
                                Thời gian
                            </label>
                            <select class="modal-input" id="time-calendar" name="timeCalendar">
                                <option th:each="i : ${T(vnu.uet.cinema_manager.model.TimeCalendar).values()}"
                                        th:value="${i}" th:text="${i.s}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="wrap-input">
                        <div class="wrap-input-item">
                            <label for="id-room" class="modal-label">
                                Phòng chiếu
                            </label>
                            <select class="modal-input" id="id-room" name="idRoom">
                                <option th:each="i : ${listRoom}" th:value="${i.id}"
                                        th:text="${i.name} + '( ' +${i.slot} + ' chỗ ngồi)'"
                                        th:selected="${i.name=='201'}"></option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-add" id="add-film">
                        Thêm
                    </button>
                </div>

            </div>
        </form>
    </div>

    <div class="modal modal-edit">
        <form th:action="@{/admin/manager/editFilmCalendar}" method="POST">
            <div class="modal__container">
                <div class="modal__close">
                    <i class="fas fa-times"></i>
                </div>
                <div class="modal__header">
                    <div class="modal__header-title">
                        Thêm lịch chiếu
                    </div>
                </div>
                <div class="modal__body">
                    <input type="hidden" id="id-film-calendar" name="id">
                    <div class="wrap-input-item">
                        <label for="id-film-edit" class="modal-label">
                            Tên phim
                        </label>
                        <select class="modal-input disable-input" id="id-film-edit" name="idFilm">
                            <option th:each="i : ${listFilm}" th:value="${i.id}"
                                    th:text="${i.name} + '( Ngày ra mắt chính thức: ' +${i.openDay} +  ')'"
                                    th:selected="${i.name=='Nguời nhện không còn nhà'}"></option>
                        </select>
                    </div>
                    <div class="wrap-input">
                        <div class="wrap-input-item">
                            <label for="date-calendar-edit" class="modal-label">
                                Ngày chiếu
                            </label>
                            <input required type="date" id="date-calendar-edit" class="modal-input" name="dateCalendar">
                        </div>
                    </div>
                    <div class="wrap-input">
                        <div class="wrap-input-item">
                            <label for="time-calendar-edit" class="modal-label">
                                Thời gian
                            </label>
                            <select class="modal-input" id="time-calendar-edit" name="timeCalendar">
                                <option th:each="i : ${T(vnu.uet.cinema_manager.model.TimeCalendar).values()}"
                                        th:value="${i}" th:text="${i.s}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="wrap-input">
                        <div class="wrap-input-item">
                            <label for="id-room-edit" class="modal-label">
                                Phòng chiếu
                            </label>
                            <select class="modal-input" id="id-room-edit" name="idRoom">
                                <option th:each="i : ${listRoom}" th:value="${i.id}"
                                        th:text="${i.name} + '( ' +${i.slot} + ' chỗ ngồi)'"
                                        th:selected="${i.name=='201'}"></option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-edit" type="submit">
                        Lưu
                    </button>
                </div>

            </div>
        </form>
    </div>


    </div>

    <div class="modal modal-delete">
        <div class="modal__container">
            <div class="modal__close">
                <i class="fas fa-times"></i>
            </div>
            <div class="modal__header">
                <div class="modal__header-title">
                    Xóa phim
                </div>
            </div>
            <div class="modal__body">
                <div class="modal__body-question">
                    Bạn có chắn chắn muốn xóa phim?
                </div>
                <div class="modal__confirm">
                    <button class="btn btn-yes">Có</button>
                    <button class="btn btn-no">Không</button>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>

